<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>

    <p><strong>Username:</strong> {{ username }}</p>
    <p><strong>Date Joined:</strong> {{ date_joined }}</p>
    
    <h2>Update Your Info</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>

    <h2>Logout</h2>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <!-- <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form> -->

</body>
</html>

